In [69]:
import pandas as pd
import numpy as np

In [70]:
merged_dataset = pd.read_csv("merged_pollutant_dataset.csv")
neighbors = pd.read_csv("neighbors.csv")

In [71]:
# merged_dataset["date"]
# merged_dataset['date_state_code_county_code'] = merged_dataset["date"] + merged_dataset["state_code"] + \
# merged_dataset["count_code"]

new_df = merged_dataset.copy()
new_df["date_state_code_county_code"] = merged_dataset["date"].apply(str) + "_"+ merged_dataset["state_code"].apply(str) + \
                                        "_" + merged_dataset["county_code"].apply(str)

new_df.index = new_df["date_state_code_county_code"]

In [72]:
new_df = new_df.drop(columns = ["date_state_code_county_code"])

In [73]:
new_df

,date,state_code,county_code,state_name,county_name,co_polutant_level,no2_polutant_level,o3_polutant_level,pm10_polutant_level,pm25frm_polutant_level,pm25nfrm_polutant_level,so2_polutant_level,average_temp,max_temp,average_pressure,max_pressure,average_rh,max_rh,average_windspeed,max_windspeed
date_state_code_county_code,,,,,,,,,,,,,,,,,,,,
2010-01-01_1_73,2010-01-01,1,73,Alabama,Jefferson,0.5,NaN,0.027,10.0,NaN,7.4,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.287500,6.8
2010-01-01_4_13,2010-01-01,4,13,Arizona,Maricopa,3.1,48.0,0.041,87.0,21.6,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,2.840051,5.9
2010-01-01_4_19,2010-01-01,4,19,Arizona,Pima,0.8,37.0,0.046,44.0,6.8,NaN,1.0,50.366667,66.9,NaN,NaN,24.500000,43.666667,NaN,NaN
2010-01-01_5_119,2010-01-01,5,119,Arkansas,Pulaski,1.1,30.0,0.032,NaN,17.6,9.6,2.0,34.375000,45.0,NaN,NaN,42.083333,62.000000,3.429167,6.1
2010-01-01_6_1,2010-01-01,6,1,California,Alameda,0.7,32.0,0.021,NaN,22.1,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-17_49_49,2021-05-17,49,49,Utah,Utah,0.2,30.0,0.053,15.0,13.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-05-17_50_7,2021-05-17,50,7,Vermont,Chittenden,0.3,11.4,0.037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-05-17_50_21,2021-05-17,50,21,Vermont,Rutland,0.3,18.9,NaN,NaN,NaN,NaN,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-05-17_51_13,2021-05-17,51,13,Virginia,Arlington,0.2,9.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-05-17_55_27,2021-05-17,55,27,Wisconsin,Dodge,0.2,NaN,0.031,NaN,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
#creating new columns and adding them to working dataset

columns_neighbors = []

for k in range(1,6):
    for i in merged_dataset.columns:
        columns_neighbors.append("neighbor"+str(k)+"_"+i)
 

working_df = merged_dataset.copy()

for column in columns_neighbors:
    working_df[column] = np.nan

In [75]:
row = merged_dataset[(merged_dataset["date"] == "2010-01-01") & (merged_dataset["state_code"] == 13) & (merged_dataset["county_code"] == 121)]
row1 = new_df.loc["2010-01-01_13_121"]
# print(row)
# print(row1)

In [18]:
#neighbor1

neighbor1_columns = list(working_df.columns)[20:40]
neighbor1_df = pd.DataFrame(columns = neighbor1_columns)
neighbor1_list = []

for i in range(len(merged_dataset)):

    date = merged_dataset["date"][i]
    state = merged_dataset["state_code"][i]
    county = merged_dataset["county_code"][i]
#     print(i)
    neighbors_row = neighbors[(neighbors["state_code"] == state) & (neighbors["county_code"] == county)].to_numpy()[0]
#     print(neighbors_row)
    neighbor_state = neighbors_row[2]
    neighbor_county = neighbors_row[3]
    neighbor_info = new_df.loc[str(date)+"_"+str(neighbor_state)+"_"+str(neighbor_county)]
#     print(neighbor_info)
    #         working_df.iloc[i:i+1,10*j:10*j+20] = neighbor_info
    neighbor1_list.append(neighbor_info)
#     display(neighbor1_df)
    
np_a = np.asarray(neighbor1_list)
np_a
neighbor1_df = pd.DataFrame(data = np_a, columns = neighbor1_columns)
# working_df
neighbor1_df

,neighbor1_date,neighbor1_state_code,neighbor1_county_code,neighbor1_state_name,neighbor1_county_name,neighbor1_co_polutant_level,neighbor1_no2_polutant_level,neighbor1_o3_polutant_level,neighbor1_pm10_polutant_level,neighbor1_pm25frm_polutant_level,neighbor1_pm25nfrm_polutant_level,neighbor1_so2_polutant_level,neighbor1_average_temp,neighbor1_max_temp,neighbor1_average_pressure,neighbor1_max_pressure,neighbor1_average_rh,neighbor1_max_rh,neighbor1_average_windspeed,neighbor1_max_windspeed
0,2010-01-01,13,121,Georgia,Fulton,0.2,NaN,NaN,NaN,NaN,8.4,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-01,4,19,Arizona,Pima,0.8,37.0,0.046,44.0,6.8,NaN,1.0,50.366667,66.9,NaN,NaN,24.5,43.666667,NaN,NaN
2,2010-01-01,4,13,Arizona,Maricopa,3.1,48.0,0.041,87.0,21.6,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,2.840051,5.9
3,2010-01-01,47,157,Tennessee,Shelby,0.4,NaN,0.034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-01,6,75,California,San Francisco,0.5,31.0,0.015,NaN,11.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415495,2021-05-17,32,3,Nevada,Clark,0.8,48.6,0.054,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415496,2021-05-17,50,21,Vermont,Rutland,0.3,18.9,NaN,NaN,NaN,NaN,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415497,2021-05-17,50,7,Vermont,Chittenden,0.3,11.4,0.037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415498,2021-05-17,11,1,District Of Columbia,District of Columbia,0.3,15.6,0.029,NaN,5.6,NaN,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415499,2021-05-17,17,31,Illinois,Cook,0.2,21.5,0.042,45.0,NaN,10.4,2.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#neighbor2

neighbor2_columns = list(working_df.columns)[40:60]
# neighbor2_df = pd.DataFrame(columns = neighbor2_columns)
neighbor2_list = []

for i in range(len(merged_dataset)):

    date = merged_dataset["date"][i]
    state = merged_dataset["state_code"][i]
    county = merged_dataset["county_code"][i]
#     print(i)
    neighbors_row = neighbors[(neighbors["state_code"] == state) & (neighbors["county_code"] == county)].to_numpy()[0]
#     print(neighbors_row)
    neighbor_state = neighbors_row[4]
    neighbor_county = neighbors_row[5]
    neighbor_info = new_df.loc[str(date)+"_"+str(neighbor_state)+"_"+str(neighbor_county)]
#     print(neighbor_info)
    #         working_df.iloc[i:i+1,10*j:10*j+20] = neighbor_info
    neighbor2_list.append(neighbor_info)
#     display(neighbor1_df)
    
np_a = np.asarray(neighbor2_list)
np_a
neighbor2_df = pd.DataFrame(data = np_a, columns = neighbor2_columns)
# working_df
neighbor2_df

,neighbor2_date,neighbor2_state_code,neighbor2_county_code,neighbor2_state_name,neighbor2_county_name,neighbor2_co_polutant_level,neighbor2_no2_polutant_level,neighbor2_o3_polutant_level,neighbor2_pm10_polutant_level,neighbor2_pm25frm_polutant_level,neighbor2_pm25nfrm_polutant_level,neighbor2_so2_polutant_level,neighbor2_average_temp,neighbor2_max_temp,neighbor2_average_pressure,neighbor2_max_pressure,neighbor2_average_rh,neighbor2_max_rh,neighbor2_average_windspeed,neighbor2_max_windspeed
0,2010-01-01,13,89,Georgia,DeKalb,0.3,18.0,0.03,NaN,7.5,NaN,1.0,40.5,46.5,986.208333,989.0,72.416667,99.0,NaN,NaN
1,2010-01-01,6,25,California,Imperial,2.0,43.0,0.039,NaN,NaN,NaN,4.0,55.041667,69.333333,1020.683333,1023.9,39.208333,55.0,2.473334,3.94
2,2010-01-01,48,141,Texas,El Paso,1.1,45.0,0.033,NaN,NaN,23.5,NaN,40.1,51.8,899.541667,902.0,23.388889,27.0,1.864394,3.409091
3,2010-01-01,40,143,Oklahoma,Tulsa,0.3,20.0,0.028,NaN,18.2,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-01,6,13,California,Contra Costa,0.9,23.0,0.019,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415495,2021-05-17,16,1,Idaho,Ada,0.9,NaN,0.016,NaN,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415496,2021-05-17,25,27,Massachusetts,Worcester,0.4,32.0,NaN,NaN,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415497,2021-05-17,25,27,Massachusetts,Worcester,0.4,32.0,NaN,NaN,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415498,2021-05-17,24,5,Maryland,Baltimore,0.2,22.5,0.026,NaN,NaN,NaN,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415499,2021-05-17,19,163,Iowa,Scott,0.2,NaN,0.049,60.0,17.4,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
#neighbor3

neighbor3_columns = list(working_df.columns)[60:80]
# neighbor3_df = pd.DataFrame(columns = neighbor3_columns)
neighbor3_list = []

for i in range(len(merged_dataset)):

    date = merged_dataset["date"][i]
    state = merged_dataset["state_code"][i]
    county = merged_dataset["county_code"][i]
#     print(i)
    neighbors_row = neighbors[(neighbors["state_code"] == state) & (neighbors["county_code"] == county)].to_numpy()[0]
#     print(neighbors_row)
    neighbor_state = neighbors_row[6]
    neighbor_county = neighbors_row[7]
    neighbor_info = new_df.loc[str(date)+"_"+str(neighbor_state)+"_"+str(neighbor_county)]
#     print(neighbor_info)
    #         working_df.iloc[i:i+1,10*j:10*j+20] = neighbor_info
    neighbor3_list.append(neighbor_info)
#     display(neighbor1_df)
    
np_a = np.asarray(neighbor3_list)
np_a
neighbor3_df = pd.DataFrame(data = np_a, columns = neighbor3_columns)
# working_df
neighbor3_df

,neighbor3_date,neighbor3_state_code,neighbor3_county_code,neighbor3_state_name,neighbor3_county_name,neighbor3_co_polutant_level,neighbor3_no2_polutant_level,neighbor3_o3_polutant_level,neighbor3_pm10_polutant_level,neighbor3_pm25frm_polutant_level,neighbor3_pm25nfrm_polutant_level,neighbor3_so2_polutant_level,neighbor3_average_temp,neighbor3_max_temp,neighbor3_average_pressure,neighbor3_max_pressure,neighbor3_average_rh,neighbor3_max_rh,neighbor3_average_windspeed,neighbor3_max_windspeed
0,2010-01-01,47,37,Tennessee,Davidson,0.2,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-01,32,3,Nevada,Clark,3.0,28.0,0.035,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-01,6,25,California,Imperial,2.0,43.0,0.039,NaN,NaN,NaN,4.0,55.041667,69.333333,1020.683333,1023.9,39.208333,55.0,2.473334,3.94
3,2010-01-01,29,510,Missouri,St. Louis City,0.2,9.0,0.021,7.0,7.9,NaN,3.0,18.083333,23.0,1005.25,1009.0,70.166667,85.0,5.215278,7.533333
4,2010-01-01,6,81,California,San Mateo,1.2,30.0,0.011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415495,2021-05-17,8,69,Colorado,Larimer,0.5,NaN,0.052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415496,2021-05-17,9,5,Connecticut,Litchfield,0.2,NaN,0.033,NaN,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415497,2021-05-17,9,5,Connecticut,Litchfield,0.2,NaN,0.033,NaN,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415498,2021-05-17,34,7,New Jersey,Camden,0.2,NaN,0.023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415499,2021-05-17,26,81,Michigan,Kent,0.2,NaN,0.031,NaN,NaN,NaN,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#neighbor4

neighbor4_columns = list(working_df.columns)[80:100]
# neighbor4_df = pd.DataFrame(columns = neighbor4_columns)
neighbor4_list = []

for i in range(len(merged_dataset)):

    date = merged_dataset["date"][i]
    state = merged_dataset["state_code"][i]
    county = merged_dataset["county_code"][i]
#     print(i)
    neighbors_row = neighbors[(neighbors["state_code"] == state) & (neighbors["county_code"] == county)].to_numpy()[0]
#     print(neighbors_row)
    neighbor_state = neighbors_row[8]
    neighbor_county = neighbors_row[9]
    neighbor_info = new_df.loc[str(date)+"_"+str(neighbor_state)+"_"+str(neighbor_county)]
#     print(neighbor_info)
    #         working_df.iloc[i:i+1,10*j:10*j+20] = neighbor_info
    neighbor4_list.append(neighbor_info)
#     display(neighbor1_df)
    
np_a = np.asarray(neighbor4_list)
np_a
neighbor4_df = pd.DataFrame(data = np_a, columns = neighbor4_columns)
# working_df
neighbor4_df

,neighbor4_date,neighbor4_state_code,neighbor4_county_code,neighbor4_state_name,neighbor4_county_name,neighbor4_co_polutant_level,neighbor4_no2_polutant_level,neighbor4_o3_polutant_level,neighbor4_pm10_polutant_level,neighbor4_pm25frm_polutant_level,neighbor4_pm25nfrm_polutant_level,neighbor4_so2_polutant_level,neighbor4_average_temp,neighbor4_max_temp,neighbor4_average_pressure,neighbor4_max_pressure,neighbor4_average_rh,neighbor4_max_rh,neighbor4_average_windspeed,neighbor4_max_windspeed
0,2010-01-01,47,157,Tennessee,Shelby,0.4,NaN,0.034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-01,6,73,California,San Diego,2.4,45.0,0.044,NaN,22.5,48.4,6.0,56.864584,69.25,1003.716667,1007.9,47.597222,72.333333,2.195,5.21
2,2010-01-01,35,1,New Mexico,Bernalillo,1.2,45.0,0.044,15.0,4.9,NaN,NaN,32.625,46.0,NaN,NaN,42.791667,68.0,NaN,NaN
3,2010-01-01,22,33,Louisiana,East Baton Rouge,0.2,23.0,0.034,12.0,8.6,NaN,20.6,45.979167,52.5,1019.625,1022.0,83.145833,94.5,6.74375,9.55
4,2010-01-01,6,95,California,Solano,0.3,26.0,0.01,NaN,11.2,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415495,2021-05-17,8,31,Colorado,Denver,0.932,48.8,0.046,NaN,4.4,NaN,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415496,2021-05-17,9,3,Connecticut,Hartford,0.4,25.0,NaN,NaN,7.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415497,2021-05-17,9,3,Connecticut,Hartford,0.4,25.0,NaN,NaN,7.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415498,2021-05-17,42,101,Pennsylvania,Philadelphia,0.5,25.9,0.023,NaN,10.2,NaN,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415499,2021-05-17,18,97,Indiana,Marion,0.5,14.1,0.047,33.0,7.3,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#neighbor5

neighbor5_columns = list(working_df.columns)[100:120]
# neighbor5_df = pd.DataFrame(columns = neighbor5_columns)
neighbor5_list = []

for i in range(len(merged_dataset)):

    date = merged_dataset["date"][i]
    state = merged_dataset["state_code"][i]
    county = merged_dataset["county_code"][i]
#     print(i)
    neighbors_row = neighbors[(neighbors["state_code"] == state) & (neighbors["county_code"] == county)].to_numpy()[0]
#     print(neighbors_row)
    neighbor_state = neighbors_row[10]
    neighbor_county = neighbors_row[11]
    neighbor_info = new_df.loc[str(date)+"_"+str(neighbor_state)+"_"+str(neighbor_county)]
#     print(neighbor_info)
    #         working_df.iloc[i:i+1,10*j:10*j+20] = neighbor_info
    neighbor5_list.append(neighbor_info)
#     display(neighbor1_df)
    
np_a = np.asarray(neighbor5_list)
np_a
neighbor5_df = pd.DataFrame(data = np_a, columns = neighbor5_columns)
# working_df
neighbor5_df

,neighbor5_date,neighbor5_state_code,neighbor5_county_code,neighbor5_state_name,neighbor5_county_name,neighbor5_co_polutant_level,neighbor5_no2_polutant_level,neighbor5_o3_polutant_level,neighbor5_pm10_polutant_level,neighbor5_pm25frm_polutant_level,neighbor5_pm25nfrm_polutant_level,neighbor5_so2_polutant_level,neighbor5_average_temp,neighbor5_max_temp,neighbor5_average_pressure,neighbor5_max_pressure,neighbor5_average_rh,neighbor5_max_rh,neighbor5_average_windspeed,neighbor5_max_windspeed
0,2010-01-01,47,9,Tennessee,Blount,0.2,NaN,0.035,NaN,NaN,NaN,1.8,28.645833,38.0,NaN,NaN,84.270833,98.0,5.6125,7.95
1,2010-01-01,6,65,California,Riverside,1.8,39.0,0.044,38.0,54.2,43.6,2.0,53.695833,67.2,982.69375,986.55,46.527778,65.111111,3.512963,5.988889
2,2010-01-01,32,3,Nevada,Clark,3.0,28.0,0.035,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-01,48,113,Texas,Dallas,0.3,41.1,0.03,NaN,10.4,NaN,NaN,38.927083,50.75,NaN,NaN,25.125,29.0,3.411667,6.66
4,2010-01-01,6,41,California,Marin,0.5,31.0,0.022,NaN,15.4,NaN,NaN,53.666667,55.0,NaN,NaN,92.583333,100.0,4.083333,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415495,2021-05-17,8,1,Colorado,Adams,0.4,41.4,0.046,23.0,NaN,NaN,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415496,2021-05-17,23,5,Maine,Cumberland,0.2,8.3,0.038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415497,2021-05-17,25,25,Massachusetts,Suffolk,0.3,38.0,0.021,NaN,6.4,NaN,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415498,2021-05-17,42,21,Pennsylvania,Cambria,0.5,NaN,0.054,NaN,9.9,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415499,2021-05-17,27,37,Minnesota,Dakota,0.2,14.3,NaN,NaN,NaN,NaN,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
neighbor1_df

,neighbor1_date,neighbor1_state_code,neighbor1_county_code,neighbor1_state_name,neighbor1_county_name,neighbor1_co_polutant_level,neighbor1_no2_polutant_level,neighbor1_o3_polutant_level,neighbor1_pm10_polutant_level,neighbor1_pm25frm_polutant_level,neighbor1_pm25nfrm_polutant_level,neighbor1_so2_polutant_level,neighbor1_average_temp,neighbor1_max_temp,neighbor1_average_pressure,neighbor1_max_pressure,neighbor1_average_rh,neighbor1_max_rh,neighbor1_average_windspeed,neighbor1_max_windspeed
0,2010-01-01,13,121,Georgia,Fulton,0.2,NaN,NaN,NaN,NaN,8.4,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-01,4,19,Arizona,Pima,0.8,37.0,0.046,44.0,6.8,NaN,1.0,50.366667,66.9,NaN,NaN,24.5,43.666667,NaN,NaN
2,2010-01-01,4,13,Arizona,Maricopa,3.1,48.0,0.041,87.0,21.6,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,2.840051,5.9
3,2010-01-01,47,157,Tennessee,Shelby,0.4,NaN,0.034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-01,6,75,California,San Francisco,0.5,31.0,0.015,NaN,11.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415495,2021-05-17,32,3,Nevada,Clark,0.8,48.6,0.054,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415496,2021-05-17,50,21,Vermont,Rutland,0.3,18.9,NaN,NaN,NaN,NaN,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415497,2021-05-17,50,7,Vermont,Chittenden,0.3,11.4,0.037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415498,2021-05-17,11,1,District Of Columbia,District of Columbia,0.3,15.6,0.029,NaN,5.6,NaN,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415499,2021-05-17,17,31,Illinois,Cook,0.2,21.5,0.042,45.0,NaN,10.4,2.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
neighbor2_df

,neighbor2_date,neighbor2_state_code,neighbor2_county_code,neighbor2_state_name,neighbor2_county_name,neighbor2_co_polutant_level,neighbor2_no2_polutant_level,neighbor2_o3_polutant_level,neighbor2_pm10_polutant_level,neighbor2_pm25frm_polutant_level,neighbor2_pm25nfrm_polutant_level,neighbor2_so2_polutant_level,neighbor2_average_temp,neighbor2_max_temp,neighbor2_average_pressure,neighbor2_max_pressure,neighbor2_average_rh,neighbor2_max_rh,neighbor2_average_windspeed,neighbor2_max_windspeed
0,2010-01-01,13,89,Georgia,DeKalb,0.3,18.0,0.03,NaN,7.5,NaN,1.0,40.5,46.5,986.208333,989.0,72.416667,99.0,NaN,NaN
1,2010-01-01,6,25,California,Imperial,2.0,43.0,0.039,NaN,NaN,NaN,4.0,55.041667,69.333333,1020.683333,1023.9,39.208333,55.0,2.473334,3.94
2,2010-01-01,48,141,Texas,El Paso,1.1,45.0,0.033,NaN,NaN,23.5,NaN,40.1,51.8,899.541667,902.0,23.388889,27.0,1.864394,3.409091
3,2010-01-01,40,143,Oklahoma,Tulsa,0.3,20.0,0.028,NaN,18.2,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-01,6,13,California,Contra Costa,0.9,23.0,0.019,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415495,2021-05-17,16,1,Idaho,Ada,0.9,NaN,0.016,NaN,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415496,2021-05-17,25,27,Massachusetts,Worcester,0.4,32.0,NaN,NaN,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415497,2021-05-17,25,27,Massachusetts,Worcester,0.4,32.0,NaN,NaN,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415498,2021-05-17,24,5,Maryland,Baltimore,0.2,22.5,0.026,NaN,NaN,NaN,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415499,2021-05-17,19,163,Iowa,Scott,0.2,NaN,0.049,60.0,17.4,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
neighbor3_df

,neighbor3_date,neighbor3_state_code,neighbor3_county_code,neighbor3_state_name,neighbor3_county_name,neighbor3_co_polutant_level,neighbor3_no2_polutant_level,neighbor3_o3_polutant_level,neighbor3_pm10_polutant_level,neighbor3_pm25frm_polutant_level,neighbor3_pm25nfrm_polutant_level,neighbor3_so2_polutant_level,neighbor3_average_temp,neighbor3_max_temp,neighbor3_average_pressure,neighbor3_max_pressure,neighbor3_average_rh,neighbor3_max_rh,neighbor3_average_windspeed,neighbor3_max_windspeed
0,2010-01-01,47,37,Tennessee,Davidson,0.2,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-01,32,3,Nevada,Clark,3.0,28.0,0.035,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-01,6,25,California,Imperial,2.0,43.0,0.039,NaN,NaN,NaN,4.0,55.041667,69.333333,1020.683333,1023.9,39.208333,55.0,2.473334,3.94
3,2010-01-01,29,510,Missouri,St. Louis City,0.2,9.0,0.021,7.0,7.9,NaN,3.0,18.083333,23.0,1005.25,1009.0,70.166667,85.0,5.215278,7.533333
4,2010-01-01,6,81,California,San Mateo,1.2,30.0,0.011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415495,2021-05-17,8,69,Colorado,Larimer,0.5,NaN,0.052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415496,2021-05-17,9,5,Connecticut,Litchfield,0.2,NaN,0.033,NaN,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415497,2021-05-17,9,5,Connecticut,Litchfield,0.2,NaN,0.033,NaN,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415498,2021-05-17,34,7,New Jersey,Camden,0.2,NaN,0.023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415499,2021-05-17,26,81,Michigan,Kent,0.2,NaN,0.031,NaN,NaN,NaN,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
neighbor4_df

,neighbor4_date,neighbor4_state_code,neighbor4_county_code,neighbor4_state_name,neighbor4_county_name,neighbor4_co_polutant_level,neighbor4_no2_polutant_level,neighbor4_o3_polutant_level,neighbor4_pm10_polutant_level,neighbor4_pm25frm_polutant_level,neighbor4_pm25nfrm_polutant_level,neighbor4_so2_polutant_level,neighbor4_average_temp,neighbor4_max_temp,neighbor4_average_pressure,neighbor4_max_pressure,neighbor4_average_rh,neighbor4_max_rh,neighbor4_average_windspeed,neighbor4_max_windspeed
0,2010-01-01,47,157,Tennessee,Shelby,0.4,NaN,0.034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-01,6,73,California,San Diego,2.4,45.0,0.044,NaN,22.5,48.4,6.0,56.864584,69.25,1003.716667,1007.9,47.597222,72.333333,2.195,5.21
2,2010-01-01,35,1,New Mexico,Bernalillo,1.2,45.0,0.044,15.0,4.9,NaN,NaN,32.625,46.0,NaN,NaN,42.791667,68.0,NaN,NaN
3,2010-01-01,22,33,Louisiana,East Baton Rouge,0.2,23.0,0.034,12.0,8.6,NaN,20.6,45.979167,52.5,1019.625,1022.0,83.145833,94.5,6.74375,9.55
4,2010-01-01,6,95,California,Solano,0.3,26.0,0.01,NaN,11.2,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415495,2021-05-17,8,31,Colorado,Denver,0.932,48.8,0.046,NaN,4.4,NaN,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415496,2021-05-17,9,3,Connecticut,Hartford,0.4,25.0,NaN,NaN,7.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415497,2021-05-17,9,3,Connecticut,Hartford,0.4,25.0,NaN,NaN,7.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415498,2021-05-17,42,101,Pennsylvania,Philadelphia,0.5,25.9,0.023,NaN,10.2,NaN,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415499,2021-05-17,18,97,Indiana,Marion,0.5,14.1,0.047,33.0,7.3,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
neighbor5_df

,neighbor5_date,neighbor5_state_code,neighbor5_county_code,neighbor5_state_name,neighbor5_county_name,neighbor5_co_polutant_level,neighbor5_no2_polutant_level,neighbor5_o3_polutant_level,neighbor5_pm10_polutant_level,neighbor5_pm25frm_polutant_level,neighbor5_pm25nfrm_polutant_level,neighbor5_so2_polutant_level,neighbor5_average_temp,neighbor5_max_temp,neighbor5_average_pressure,neighbor5_max_pressure,neighbor5_average_rh,neighbor5_max_rh,neighbor5_average_windspeed,neighbor5_max_windspeed
0,2010-01-01,47,9,Tennessee,Blount,0.2,NaN,0.035,NaN,NaN,NaN,1.8,28.645833,38.0,NaN,NaN,84.270833,98.0,5.6125,7.95
1,2010-01-01,6,65,California,Riverside,1.8,39.0,0.044,38.0,54.2,43.6,2.0,53.695833,67.2,982.69375,986.55,46.527778,65.111111,3.512963,5.988889
2,2010-01-01,32,3,Nevada,Clark,3.0,28.0,0.035,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-01,48,113,Texas,Dallas,0.3,41.1,0.03,NaN,10.4,NaN,NaN,38.927083,50.75,NaN,NaN,25.125,29.0,3.411667,6.66
4,2010-01-01,6,41,California,Marin,0.5,31.0,0.022,NaN,15.4,NaN,NaN,53.666667,55.0,NaN,NaN,92.583333,100.0,4.083333,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415495,2021-05-17,8,1,Colorado,Adams,0.4,41.4,0.046,23.0,NaN,NaN,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415496,2021-05-17,23,5,Maine,Cumberland,0.2,8.3,0.038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415497,2021-05-17,25,25,Massachusetts,Suffolk,0.3,38.0,0.021,NaN,6.4,NaN,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415498,2021-05-17,42,21,Pennsylvania,Cambria,0.5,NaN,0.054,NaN,9.9,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415499,2021-05-17,27,37,Minnesota,Dakota,0.2,14.3,NaN,NaN,NaN,NaN,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
working_df

,date,state_code,county_code,state_name,county_name,co_polutant_level,no2_polutant_level,o3_polutant_level,pm10_polutant_level,pm25frm_polutant_level,...,neighbor5_pm25nfrm_polutant_level,neighbor5_so2_polutant_level,neighbor5_average_temp,neighbor5_max_temp,neighbor5_average_pressure,neighbor5_max_pressure,neighbor5_average_rh,neighbor5_max_rh,neighbor5_average_windspeed,neighbor5_max_windspeed
0,2010-01-01,1,73,Alabama,Jefferson,0.5,NaN,0.027,10.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-01,4,13,Arizona,Maricopa,3.1,48.0,0.041,87.0,21.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-01,4,19,Arizona,Pima,0.8,37.0,0.046,44.0,6.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-01,5,119,Arkansas,Pulaski,1.1,30.0,0.032,NaN,17.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-01,6,1,California,Alameda,0.7,32.0,0.021,NaN,22.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415495,2021-05-17,49,49,Utah,Utah,0.2,30.0,0.053,15.0,13.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415496,2021-05-17,50,7,Vermont,Chittenden,0.3,11.4,0.037,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415497,2021-05-17,50,21,Vermont,Rutland,0.3,18.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415498,2021-05-17,51,13,Virginia,Arlington,0.2,9.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415499,2021-05-17,55,27,Wisconsin,Dodge,0.2,NaN,0.031,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
merged = merged_dataset.merge(neighbor1_df, left_index = True, right_index = True)

In [89]:
merged = merged.merge(neighbor2_df, left_index = True, right_index = True)

In [90]:
merged = merged.merge(neighbor3_df, left_index = True, right_index = True)

In [91]:
merged = merged.merge(neighbor4_df, left_index = True, right_index = True)

In [92]:
merged = merged.merge(neighbor5_df, left_index = True, right_index = True)

In [102]:
merged.iloc[:,100:120].equals(neighbor5_df)

True

In [106]:
merged.to_csv("merged_pollutant_dataset_with_neighbors.csv", index = False)