In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
import import_ipynb
import AQI_calculator as aqi_calculate

In [2]:
# forecasts_df = pd.read_csv("forecasts_2021_df.csv")
forecasts_df = pd.read_csv("forecasts_Dec_2020_df.csv")

In [9]:
merged_dataset = pd.read_csv("merged_pollutant_dataset_with_neighbors.csv")

In [12]:
# forecasts_df = forecasts_df.iloc[:,1:]

In [13]:
forecasts_df

,date,state_code,county_code,state_name,county_name,co_polutant_level,no2_polutant_level,o3_polutant_level,pm10_polutant_level,pm25frm_polutant_level,pm25nfrm_polutant_level,so2_polutant_level
0,2020-12-01,1,73,Alabama,Jefferson,0.774271,NaN,0.026675,15.970643,NaN,18.301272,4.314227
1,2020-12-02,1,73,Alabama,Jefferson,0.878014,NaN,0.026891,29.289785,NaN,15.979641,8.137374
2,2020-12-03,1,73,Alabama,Jefferson,0.703237,NaN,0.027099,23.269412,NaN,14.081144,8.696860
3,2020-12-04,1,73,Alabama,Jefferson,0.790012,NaN,0.027482,28.181677,NaN,18.638450,10.554342
4,2020-12-05,1,73,Alabama,Jefferson,0.985703,NaN,0.024250,34.133880,NaN,17.086615,14.869683
...,...,...,...,...,...,...,...,...,...,...,...,...
3095,2020-12-27,55,27,Wisconsin,Dodge,0.194249,NaN,0.054960,NaN,NaN,NaN,1.864089
3096,2020-12-28,55,27,Wisconsin,Dodge,0.150647,NaN,0.070263,NaN,NaN,NaN,2.431380
3097,2020-12-29,55,27,Wisconsin,Dodge,0.264494,NaN,0.066739,NaN,NaN,NaN,3.526011
3098,2020-12-30,55,27,Wisconsin,Dodge,0.350554,NaN,0.057863,NaN,NaN,NaN,4.904968
3099,2020-12-31,55,27,Wisconsin,Dodge,0.302722,NaN,0.046996,NaN,NaN,NaN,1.304905

In [14]:
columns = list(forecasts_df.columns)
columns

['date',
 'state_code',
 'county_code',
 'state_name',
 'county_name',
 'co_polutant_level',
 'no2_polutant_level',
 'o3_polutant_level',
 'pm10_polutant_level',
 'pm25frm_polutant_level',
 'pm25nfrm_polutant_level',
 'so2_polutant_level']

In [15]:
merged_dataset_df = merged_dataset[columns]

In [16]:
merged_dataset_df = merged_dataset_df[merged_dataset_df["date"] < "2020-12-01"]
merged_dataset_df

,date,state_code,county_code,state_name,county_name,co_polutant_level,no2_polutant_level,o3_polutant_level,pm10_polutant_level,pm25frm_polutant_level,pm25nfrm_polutant_level,so2_polutant_level
0,2010-01-01,1,73,Alabama,Jefferson,0.5,NaN,0.027,10.0,NaN,7.4,2.0
1,2010-01-01,4,13,Arizona,Maricopa,3.1,48.0,0.041,87.0,21.6,NaN,6.0
2,2010-01-01,4,19,Arizona,Pima,0.8,37.0,0.046,44.0,6.8,NaN,1.0
3,2010-01-01,5,119,Arkansas,Pulaski,1.1,30.0,0.032,NaN,17.6,9.6,2.0
4,2010-01-01,6,1,California,Alameda,0.7,32.0,0.021,NaN,22.1,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
398695,2020-11-30,49,49,Utah,Utah,0.1,37.5,0.029,22.0,9.4,NaN,NaN
398696,2020-11-30,50,7,Vermont,Chittenden,0.4,17.2,0.039,NaN,NaN,NaN,NaN
398697,2020-11-30,50,21,Vermont,Rutland,0.4,12.6,NaN,NaN,NaN,NaN,0.8
398698,2020-11-30,51,13,Virginia,Arlington,0.3,19.3,NaN,NaN,NaN,NaN,NaN
398699,2020-11-30,55,27,Wisconsin,Dodge,0.2,NaN,0.030,NaN,NaN,NaN,0.1

In [18]:
# merged_forecasts_df = merged_dataset_df.append(forecasts_df)
# merged_forecasts_df = merged_forecasts_df.reset_index(drop = True)
merged_forecasts_df

,date,state_code,county_code,state_name,county_name,co_polutant_level,no2_polutant_level,o3_polutant_level,pm10_polutant_level,pm25frm_polutant_level,pm25nfrm_polutant_level,so2_polutant_level
0,2010-01-01,1,73,Alabama,Jefferson,0.500000,NaN,0.027000,10.0,NaN,7.4,2.000000
1,2010-01-01,4,13,Arizona,Maricopa,3.100000,48.0,0.041000,87.0,21.6,NaN,6.000000
2,2010-01-01,4,19,Arizona,Pima,0.800000,37.0,0.046000,44.0,6.8,NaN,1.000000
3,2010-01-01,5,119,Arkansas,Pulaski,1.100000,30.0,0.032000,NaN,17.6,9.6,2.000000
4,2010-01-01,6,1,California,Alameda,0.700000,32.0,0.021000,NaN,22.1,NaN,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
401795,2020-12-27,55,27,Wisconsin,Dodge,0.194249,NaN,0.054960,NaN,NaN,NaN,1.864089
401796,2020-12-28,55,27,Wisconsin,Dodge,0.150647,NaN,0.070263,NaN,NaN,NaN,2.431380
401797,2020-12-29,55,27,Wisconsin,Dodge,0.264494,NaN,0.066739,NaN,NaN,NaN,3.526011
401798,2020-12-30,55,27,Wisconsin,Dodge,0.350554,NaN,0.057863,NaN,NaN,NaN,4.904968
401799,2020-12-31,55,27,Wisconsin,Dodge,0.302722,NaN,0.046996,NaN,NaN,NaN,1.304905

In [19]:
merged_forecasts_df_copy = merged_forecasts_df.copy()

In [20]:
prediction_columns_all = ["co_polutant_level", "no2_polutant_level", "o3_polutant_level", "pm10_polutant_level",\
                     "pm25frm_polutant_level", "pm25nfrm_polutant_level","so2_polutant_level"]

In [21]:
mapping = {"co_polutant_level" : aqi_calculate.calculate_AQI_CO, \
           "no2_polutant_level": aqi_calculate.calculate_AQI_NO2, \
           "o3_polutant_level":aqi_calculate.calculate_AQI_O3_8hr,\
           "pm10_polutant_level": aqi_calculate.calculate_AQI_PM10,\
           "pm25frm_polutant_level": aqi_calculate.calculate_AQI_PM2point5, \
           "pm25nfrm_polutant_level": aqi_calculate.calculate_AQI_PM2point5, \
           "so2_polutant_level": aqi_calculate.calculate_AQI_SO2}

In [22]:
mapping

{'co_polutant_level': <function AQI_calculator.calculate_AQI_CO(co_level)>,
 'no2_polutant_level': <function AQI_calculator.calculate_AQI_NO2(no2_level)>,
 'o3_polutant_level': <function AQI_calculator.calculate_AQI_O3_8hr(o3_8hour_level)>,
 'pm10_polutant_level': <function AQI_calculator.calculate_AQI_PM10(pm10_level)>,
 'pm25frm_polutant_level': <function AQI_calculator.calculate_AQI_PM2point5(pm2point5_level)>,
 'pm25nfrm_polutant_level': <function AQI_calculator.calculate_AQI_PM2point5(pm2point5_level)>,
 'so2_polutant_level': <function AQI_calculator.calculate_AQI_SO2(so2_level)>}

In [23]:
# values = forecasts_df[prediction_columns_all]

In [24]:
# values

In [25]:
for column in prediction_columns_all:
    name = "AQI_" + column
    s = merged_forecasts_df[column]
#     print(s)
    func = mapping[column]
    s_aqi = s.apply(func)
    merged_forecasts_df[name] = s_aqi

In [26]:
merged_forecasts_df

,date,state_code,county_code,state_name,county_name,co_polutant_level,no2_polutant_level,o3_polutant_level,pm10_polutant_level,pm25frm_polutant_level,pm25nfrm_polutant_level,so2_polutant_level,AQI_co_polutant_level,AQI_no2_polutant_level,AQI_o3_polutant_level,AQI_pm10_polutant_level,AQI_pm25frm_polutant_level,AQI_pm25nfrm_polutant_level,AQI_so2_polutant_level
0,2010-01-01,1,73,Alabama,Jefferson,0.500000,NaN,0.027000,10.0,NaN,7.4,2.000000,6.0,NaN,25.0,9.0,NaN,31.0,3.0
1,2010-01-01,4,13,Arizona,Maricopa,3.100000,48.0,0.041000,87.0,21.6,NaN,6.000000,35.0,45.0,38.0,67.0,71.0,NaN,9.0
2,2010-01-01,4,19,Arizona,Pima,0.800000,37.0,0.046000,44.0,6.8,NaN,1.000000,9.0,35.0,43.0,41.0,28.0,NaN,1.0
3,2010-01-01,5,119,Arkansas,Pulaski,1.100000,30.0,0.032000,NaN,17.6,9.6,2.000000,12.0,28.0,30.0,NaN,63.0,40.0,3.0
4,2010-01-01,6,1,California,Alameda,0.700000,32.0,0.021000,NaN,22.1,NaN,2.000000,8.0,30.0,19.0,NaN,72.0,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401795,2020-12-27,55,27,Wisconsin,Dodge,0.194249,NaN,0.054960,NaN,NaN,NaN,1.864089,2.0,NaN,51.0,NaN,NaN,NaN,3.0
401796,2020-12-28,55,27,Wisconsin,Dodge,0.150647,NaN,0.070263,NaN,NaN,NaN,2.431380,2.0,NaN,100.0,NaN,NaN,NaN,3.0
401797,2020-12-29,55,27,Wisconsin,Dodge,0.264494,NaN,0.066739,NaN,NaN,NaN,3.526011,3.0,NaN,90.0,NaN,NaN,NaN,6.0
401798,2020-12-30,55,27,Wisconsin,Dodge,0.350554,NaN,0.057863,NaN,NaN,NaN,4.904968,5.0,NaN,61.0,NaN,NaN,NaN,7.0
401799,2020-12-31,55,27,Wisconsin,Dodge,0.302722,NaN,0.046996,NaN,NaN,NaN,1.304905,3.0,NaN,44.0,NaN,NaN,NaN,1.0

In [27]:
df = merged_forecasts_df.iloc[:,12:]
df

,AQI_co_polutant_level,AQI_no2_polutant_level,AQI_o3_polutant_level,AQI_pm10_polutant_level,AQI_pm25frm_polutant_level,AQI_pm25nfrm_polutant_level,AQI_so2_polutant_level
0,6.0,NaN,25.0,9.0,NaN,31.0,3.0
1,35.0,45.0,38.0,67.0,71.0,NaN,9.0
2,9.0,35.0,43.0,41.0,28.0,NaN,1.0
3,12.0,28.0,30.0,NaN,63.0,40.0,3.0
4,8.0,30.0,19.0,NaN,72.0,NaN,3.0
...,...,...,...,...,...,...,...
401795,2.0,NaN,51.0,NaN,NaN,NaN,3.0
401796,2.0,NaN,100.0,NaN,NaN,NaN,3.0
401797,3.0,NaN,90.0,NaN,NaN,NaN,6.0
401798,5.0,NaN,61.0,NaN,NaN,NaN,7.0
401799,3.0,NaN,44.0,NaN,NaN,NaN,1.0

In [28]:
df = merged_forecasts_df.iloc[:,12:]
df.apply(max, axis = 1)
merged_forecasts_df["max_pollutant_AQI"] = df.apply(max, axis = 1)

In [29]:
df = merged_forecasts_df.iloc[:,12:]
df.idxmax(axis=1)
merged_forecasts_df["max_AQI_pollutant"] = df.idxmax(axis=1)

In [30]:
merged_forecasts_df

,date,state_code,county_code,state_name,county_name,co_polutant_level,no2_polutant_level,o3_polutant_level,pm10_polutant_level,pm25frm_polutant_level,...,so2_polutant_level,AQI_co_polutant_level,AQI_no2_polutant_level,AQI_o3_polutant_level,AQI_pm10_polutant_level,AQI_pm25frm_polutant_level,AQI_pm25nfrm_polutant_level,AQI_so2_polutant_level,max_pollutant_AQI,max_AQI_pollutant
0,2010-01-01,1,73,Alabama,Jefferson,0.500000,NaN,0.027000,10.0,NaN,...,2.000000,6.0,NaN,25.0,9.0,NaN,31.0,3.0,31.0,AQI_pm25nfrm_polutant_level
1,2010-01-01,4,13,Arizona,Maricopa,3.100000,48.0,0.041000,87.0,21.6,...,6.000000,35.0,45.0,38.0,67.0,71.0,NaN,9.0,71.0,AQI_pm25frm_polutant_level
2,2010-01-01,4,19,Arizona,Pima,0.800000,37.0,0.046000,44.0,6.8,...,1.000000,9.0,35.0,43.0,41.0,28.0,NaN,1.0,43.0,AQI_o3_polutant_level
3,2010-01-01,5,119,Arkansas,Pulaski,1.100000,30.0,0.032000,NaN,17.6,...,2.000000,12.0,28.0,30.0,NaN,63.0,40.0,3.0,63.0,AQI_pm25frm_polutant_level
4,2010-01-01,6,1,California,Alameda,0.700000,32.0,0.021000,NaN,22.1,...,2.000000,8.0,30.0,19.0,NaN,72.0,NaN,3.0,72.0,AQI_pm25frm_polutant_level
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401795,2020-12-27,55,27,Wisconsin,Dodge,0.194249,NaN,0.054960,NaN,NaN,...,1.864089,2.0,NaN,51.0,NaN,NaN,NaN,3.0,51.0,AQI_o3_polutant_level
401796,2020-12-28,55,27,Wisconsin,Dodge,0.150647,NaN,0.070263,NaN,NaN,...,2.431380,2.0,NaN,100.0,NaN,NaN,NaN,3.0,100.0,AQI_o3_polutant_level
401797,2020-12-29,55,27,Wisconsin,Dodge,0.264494,NaN,0.066739,NaN,NaN,...,3.526011,3.0,NaN,90.0,NaN,NaN,NaN,6.0,90.0,AQI_o3_polutant_level
401798,2020-12-30,55,27,Wisconsin,Dodge,0.350554,NaN,0.057863,NaN,NaN,...,4.904968,5.0,NaN,61.0,NaN,NaN,NaN,7.0,61.0,AQI_o3_polutant_level
401799,2020-12-31,55,27,Wisconsin,Dodge,0.302722,NaN,0.046996,NaN,NaN,...,1.304905,3.0,NaN,44.0,NaN,NaN,NaN,1.0,44.0,AQI_o3_polutant_level

In [28]:
# s = merged_forecasts_df["max_AQI_pollutant"].apply(lambda x: str(x)[4:])

In [29]:
# df['New']=tuple(zip(df.lookup(df.index,df.ref_base),df.lookup(df.index,df.alt_base)))

In [31]:
merged_forecasts_df_copy_2 = merged_forecasts_df.copy()

In [32]:
merged_forecasts_df["max_AQI_pollutant"] = merged_forecasts_df["max_AQI_pollutant"].apply(lambda x: str(x)[4:])

In [33]:
merged_forecasts_df

,date,state_code,county_code,state_name,county_name,co_polutant_level,no2_polutant_level,o3_polutant_level,pm10_polutant_level,pm25frm_polutant_level,...,so2_polutant_level,AQI_co_polutant_level,AQI_no2_polutant_level,AQI_o3_polutant_level,AQI_pm10_polutant_level,AQI_pm25frm_polutant_level,AQI_pm25nfrm_polutant_level,AQI_so2_polutant_level,max_pollutant_AQI,max_AQI_pollutant
0,2010-01-01,1,73,Alabama,Jefferson,0.500000,NaN,0.027000,10.0,NaN,...,2.000000,6.0,NaN,25.0,9.0,NaN,31.0,3.0,31.0,pm25nfrm_polutant_level
1,2010-01-01,4,13,Arizona,Maricopa,3.100000,48.0,0.041000,87.0,21.6,...,6.000000,35.0,45.0,38.0,67.0,71.0,NaN,9.0,71.0,pm25frm_polutant_level
2,2010-01-01,4,19,Arizona,Pima,0.800000,37.0,0.046000,44.0,6.8,...,1.000000,9.0,35.0,43.0,41.0,28.0,NaN,1.0,43.0,o3_polutant_level
3,2010-01-01,5,119,Arkansas,Pulaski,1.100000,30.0,0.032000,NaN,17.6,...,2.000000,12.0,28.0,30.0,NaN,63.0,40.0,3.0,63.0,pm25frm_polutant_level
4,2010-01-01,6,1,California,Alameda,0.700000,32.0,0.021000,NaN,22.1,...,2.000000,8.0,30.0,19.0,NaN,72.0,NaN,3.0,72.0,pm25frm_polutant_level
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401795,2020-12-27,55,27,Wisconsin,Dodge,0.194249,NaN,0.054960,NaN,NaN,...,1.864089,2.0,NaN,51.0,NaN,NaN,NaN,3.0,51.0,o3_polutant_level
401796,2020-12-28,55,27,Wisconsin,Dodge,0.150647,NaN,0.070263,NaN,NaN,...,2.431380,2.0,NaN,100.0,NaN,NaN,NaN,3.0,100.0,o3_polutant_level
401797,2020-12-29,55,27,Wisconsin,Dodge,0.264494,NaN,0.066739,NaN,NaN,...,3.526011,3.0,NaN,90.0,NaN,NaN,NaN,6.0,90.0,o3_polutant_level
401798,2020-12-30,55,27,Wisconsin,Dodge,0.350554,NaN,0.057863,NaN,NaN,...,4.904968,5.0,NaN,61.0,NaN,NaN,NaN,7.0,61.0,o3_polutant_level
401799,2020-12-31,55,27,Wisconsin,Dodge,0.302722,NaN,0.046996,NaN,NaN,...,1.304905,3.0,NaN,44.0,NaN,NaN,NaN,1.0,44.0,o3_polutant_level

In [34]:
merged_forecasts_df["max_AQI_pollutant"].unique()

array(['pm25nfrm_polutant_level', 'pm25frm_polutant_level',
       'o3_polutant_level', 'no2_polutant_level', 'so2_polutant_level',
       'co_polutant_level', 'pm10_polutant_level', ''], dtype=object)

In [35]:
df = merged_forecasts_df[merged_forecasts_df["max_AQI_pollutant"] != ""]

In [36]:
df["max_AQI_pollutant_concentration"] = df.lookup(df.index, df.max_AQI_pollutant)

<ipython-input-36-c186098a8c1c>:1: FutureWarning: The 'lookup' method is deprecated and will beremoved in a future version.You can use DataFrame.melt and DataFrame.locas a substitute.
  df["max_AQI_pollutant_concentration"] = df.lookup(df.index, df.max_AQI_pollutant)
<ipython-input-36-c186098a8c1c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["max_AQI_pollutant_concentration"] = df.lookup(df.index, df.max_AQI_pollutant)

In [37]:
# df.iloc[:,5:]

In [38]:
merged_forecasts_df

,date,state_code,county_code,state_name,county_name,co_polutant_level,no2_polutant_level,o3_polutant_level,pm10_polutant_level,pm25frm_polutant_level,...,so2_polutant_level,AQI_co_polutant_level,AQI_no2_polutant_level,AQI_o3_polutant_level,AQI_pm10_polutant_level,AQI_pm25frm_polutant_level,AQI_pm25nfrm_polutant_level,AQI_so2_polutant_level,max_pollutant_AQI,max_AQI_pollutant
0,2010-01-01,1,73,Alabama,Jefferson,0.500000,NaN,0.027000,10.0,NaN,...,2.000000,6.0,NaN,25.0,9.0,NaN,31.0,3.0,31.0,pm25nfrm_polutant_level
1,2010-01-01,4,13,Arizona,Maricopa,3.100000,48.0,0.041000,87.0,21.6,...,6.000000,35.0,45.0,38.0,67.0,71.0,NaN,9.0,71.0,pm25frm_polutant_level
2,2010-01-01,4,19,Arizona,Pima,0.800000,37.0,0.046000,44.0,6.8,...,1.000000,9.0,35.0,43.0,41.0,28.0,NaN,1.0,43.0,o3_polutant_level
3,2010-01-01,5,119,Arkansas,Pulaski,1.100000,30.0,0.032000,NaN,17.6,...,2.000000,12.0,28.0,30.0,NaN,63.0,40.0,3.0,63.0,pm25frm_polutant_level
4,2010-01-01,6,1,California,Alameda,0.700000,32.0,0.021000,NaN,22.1,...,2.000000,8.0,30.0,19.0,NaN,72.0,NaN,3.0,72.0,pm25frm_polutant_level
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401795,2020-12-27,55,27,Wisconsin,Dodge,0.194249,NaN,0.054960,NaN,NaN,...,1.864089,2.0,NaN,51.0,NaN,NaN,NaN,3.0,51.0,o3_polutant_level
401796,2020-12-28,55,27,Wisconsin,Dodge,0.150647,NaN,0.070263,NaN,NaN,...,2.431380,2.0,NaN,100.0,NaN,NaN,NaN,3.0,100.0,o3_polutant_level
401797,2020-12-29,55,27,Wisconsin,Dodge,0.264494,NaN,0.066739,NaN,NaN,...,3.526011,3.0,NaN,90.0,NaN,NaN,NaN,6.0,90.0,o3_polutant_level
401798,2020-12-30,55,27,Wisconsin,Dodge,0.350554,NaN,0.057863,NaN,NaN,...,4.904968,5.0,NaN,61.0,NaN,NaN,NaN,7.0,61.0,o3_polutant_level
401799,2020-12-31,55,27,Wisconsin,Dodge,0.302722,NaN,0.046996,NaN,NaN,...,1.304905,3.0,NaN,44.0,NaN,NaN,NaN,1.0,44.0,o3_polutant_level

In [39]:
merged_forecasts_df["max_AQI_pollutant_concentration"] = df["max_AQI_pollutant_concentration"]

In [40]:
merged_forecasts_df

,date,state_code,county_code,state_name,county_name,co_polutant_level,no2_polutant_level,o3_polutant_level,pm10_polutant_level,pm25frm_polutant_level,...,AQI_co_polutant_level,AQI_no2_polutant_level,AQI_o3_polutant_level,AQI_pm10_polutant_level,AQI_pm25frm_polutant_level,AQI_pm25nfrm_polutant_level,AQI_so2_polutant_level,max_pollutant_AQI,max_AQI_pollutant,max_AQI_pollutant_concentration
0,2010-01-01,1,73,Alabama,Jefferson,0.500000,NaN,0.027000,10.0,NaN,...,6.0,NaN,25.0,9.0,NaN,31.0,3.0,31.0,pm25nfrm_polutant_level,7.400000
1,2010-01-01,4,13,Arizona,Maricopa,3.100000,48.0,0.041000,87.0,21.6,...,35.0,45.0,38.0,67.0,71.0,NaN,9.0,71.0,pm25frm_polutant_level,21.600000
2,2010-01-01,4,19,Arizona,Pima,0.800000,37.0,0.046000,44.0,6.8,...,9.0,35.0,43.0,41.0,28.0,NaN,1.0,43.0,o3_polutant_level,0.046000
3,2010-01-01,5,119,Arkansas,Pulaski,1.100000,30.0,0.032000,NaN,17.6,...,12.0,28.0,30.0,NaN,63.0,40.0,3.0,63.0,pm25frm_polutant_level,17.600000
4,2010-01-01,6,1,California,Alameda,0.700000,32.0,0.021000,NaN,22.1,...,8.0,30.0,19.0,NaN,72.0,NaN,3.0,72.0,pm25frm_polutant_level,22.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401795,2020-12-27,55,27,Wisconsin,Dodge,0.194249,NaN,0.054960,NaN,NaN,...,2.0,NaN,51.0,NaN,NaN,NaN,3.0,51.0,o3_polutant_level,0.054960
401796,2020-12-28,55,27,Wisconsin,Dodge,0.150647,NaN,0.070263,NaN,NaN,...,2.0,NaN,100.0,NaN,NaN,NaN,3.0,100.0,o3_polutant_level,0.070263
401797,2020-12-29,55,27,Wisconsin,Dodge,0.264494,NaN,0.066739,NaN,NaN,...,3.0,NaN,90.0,NaN,NaN,NaN,6.0,90.0,o3_polutant_level,0.066739
401798,2020-12-30,55,27,Wisconsin,Dodge,0.350554,NaN,0.057863,NaN,NaN,...,5.0,NaN,61.0,NaN,NaN,NaN,7.0,61.0,o3_polutant_level,0.057863
401799,2020-12-31,55,27,Wisconsin,Dodge,0.302722,NaN,0.046996,NaN,NaN,...,3.0,NaN,44.0,NaN,NaN,NaN,1.0,44.0,o3_polutant_level,0.046996

In [41]:
# merged_forecasts_df[merged_forecasts_df["max_AQI_pollutant"] == ""]
merged_forecasts_df_final = merged_forecasts_df.copy()

In [42]:
merged_forecasts_df_final["max_AQI_pollutant"] = merged_forecasts_df_final["max_AQI_pollutant"].apply(lambda x: str(x)[:len(x)-15])

In [43]:
merged_forecasts_df_final

,date,state_code,county_code,state_name,county_name,co_polutant_level,no2_polutant_level,o3_polutant_level,pm10_polutant_level,pm25frm_polutant_level,...,AQI_co_polutant_level,AQI_no2_polutant_level,AQI_o3_polutant_level,AQI_pm10_polutant_level,AQI_pm25frm_polutant_level,AQI_pm25nfrm_polutant_level,AQI_so2_polutant_level,max_pollutant_AQI,max_AQI_pollutant,max_AQI_pollutant_concentration
0,2010-01-01,1,73,Alabama,Jefferson,0.500000,NaN,0.027000,10.0,NaN,...,6.0,NaN,25.0,9.0,NaN,31.0,3.0,31.0,pm25nfrm,7.400000
1,2010-01-01,4,13,Arizona,Maricopa,3.100000,48.0,0.041000,87.0,21.6,...,35.0,45.0,38.0,67.0,71.0,NaN,9.0,71.0,pm25frm,21.600000
2,2010-01-01,4,19,Arizona,Pima,0.800000,37.0,0.046000,44.0,6.8,...,9.0,35.0,43.0,41.0,28.0,NaN,1.0,43.0,o3,0.046000
3,2010-01-01,5,119,Arkansas,Pulaski,1.100000,30.0,0.032000,NaN,17.6,...,12.0,28.0,30.0,NaN,63.0,40.0,3.0,63.0,pm25frm,17.600000
4,2010-01-01,6,1,California,Alameda,0.700000,32.0,0.021000,NaN,22.1,...,8.0,30.0,19.0,NaN,72.0,NaN,3.0,72.0,pm25frm,22.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401795,2020-12-27,55,27,Wisconsin,Dodge,0.194249,NaN,0.054960,NaN,NaN,...,2.0,NaN,51.0,NaN,NaN,NaN,3.0,51.0,o3,0.054960
401796,2020-12-28,55,27,Wisconsin,Dodge,0.150647,NaN,0.070263,NaN,NaN,...,2.0,NaN,100.0,NaN,NaN,NaN,3.0,100.0,o3,0.070263
401797,2020-12-29,55,27,Wisconsin,Dodge,0.264494,NaN,0.066739,NaN,NaN,...,3.0,NaN,90.0,NaN,NaN,NaN,6.0,90.0,o3,0.066739
401798,2020-12-30,55,27,Wisconsin,Dodge,0.350554,NaN,0.057863,NaN,NaN,...,5.0,NaN,61.0,NaN,NaN,NaN,7.0,61.0,o3,0.057863
401799,2020-12-31,55,27,Wisconsin,Dodge,0.302722,NaN,0.046996,NaN,NaN,...,3.0,NaN,44.0,NaN,NaN,NaN,1.0,44.0,o3,0.046996

In [44]:
merged_forecasts_df_final["date"]

0         2010-01-01
1         2010-01-01
2         2010-01-01
3         2010-01-01
4         2010-01-01
             ...
401795    2020-12-27
401796    2020-12-28
401797    2020-12-29
401798    2020-12-30
401799    2020-12-31
Name: date, Length: 401800, dtype: object

In [45]:
today = pd.to_datetime("today")
today.date()

datetime.date(2021, 12, 1)

In [46]:
import datetime

In [51]:
tomorrow_date = str(today.date() - datetime.timedelta(days=364))

In [52]:
merged_forecasts_df_final["date"]  == tomorrow_date

0         False
1         False
2         False
3         False
4         False
          ...
401795    False
401796    False
401797    False
401798    False
401799    False
Name: date, Length: 401800, dtype: bool

In [53]:
tomorrows_forecast_all = merged_forecasts_df_final[merged_forecasts_df_final["date"] == tomorrow_date]

In [54]:
tomorrows_forecast_all

,date,state_code,county_code,state_name,county_name,co_polutant_level,no2_polutant_level,o3_polutant_level,pm10_polutant_level,pm25frm_polutant_level,...,AQI_co_polutant_level,AQI_no2_polutant_level,AQI_o3_polutant_level,AQI_pm10_polutant_level,AQI_pm25frm_polutant_level,AQI_pm25nfrm_polutant_level,AQI_so2_polutant_level,max_pollutant_AQI,max_AQI_pollutant,max_AQI_pollutant_concentration
398701,2020-12-02,1,73,Alabama,Jefferson,0.878014,NaN,0.026891,29.289785,NaN,...,10.0,NaN,25.0,27.0,NaN,59.0,11.0,59.0,pm25nfrm,15.979641
398732,2020-12-02,4,13,Arizona,Maricopa,2.254158,45.764934,0.042596,-24.353027,21.546011,...,26.0,43.0,40.0,NaN,71.0,NaN,11.0,71.0,pm25frm,21.546011
398763,2020-12-02,4,19,Arizona,Pima,0.626074,33.775189,0.026283,38.938613,10.432922,...,7.0,32.0,24.0,36.0,43.0,NaN,0.0,43.0,pm25frm,10.432922
398794,2020-12-02,5,119,Arkansas,Pulaski,0.345603,17.584759,0.031696,NaN,10.235905,...,3.0,17.0,30.0,NaN,42.0,40.0,7.0,42.0,pm25frm,10.235905
398825,2020-12-02,6,1,California,Alameda,1.295257,40.826878,0.035804,NaN,13.560171,...,15.0,39.0,33.0,NaN,54.0,NaN,6.0,54.0,pm25frm,13.560171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401646,2020-12-02,49,49,Utah,Utah,0.039324,35.565780,0.023816,25.169687,16.047052,...,0.0,34.0,22.0,23.0,59.0,NaN,NaN,59.0,pm25frm,16.047052
401677,2020-12-02,50,7,Vermont,Chittenden,0.299933,16.572688,0.030831,NaN,NaN,...,3.0,16.0,29.0,NaN,NaN,NaN,NaN,29.0,o3,0.030831
401708,2020-12-02,50,21,Vermont,Rutland,0.554191,35.310877,NaN,NaN,NaN,...,7.0,33.0,NaN,NaN,NaN,NaN,1.0,33.0,no2,35.310877
401739,2020-12-02,51,13,Virginia,Arlington,0.179271,15.289989,NaN,NaN,NaN,...,2.0,14.0,NaN,NaN,NaN,NaN,NaN,14.0,no2,15.289989
401770,2020-12-02,55,27,Wisconsin,Dodge,0.305913,NaN,0.051240,NaN,NaN,...,3.0,NaN,47.0,NaN,NaN,NaN,10.0,47.0,o3,0.051240

In [55]:
tomorrows_forecast = tomorrows_forecast_all[["date", "state_name", "county_name", "max_pollutant_AQI", "max_AQI_pollutant", \
                                      "max_AQI_pollutant_concentration"]]

In [56]:
tomorrows_forecast = tomorrows_forecast.reset_index(drop=True)
tomorrows_forecast

,date,state_name,county_name,max_pollutant_AQI,max_AQI_pollutant,max_AQI_pollutant_concentration
0,2020-12-02,Alabama,Jefferson,59.0,pm25nfrm,15.979641
1,2020-12-02,Arizona,Maricopa,71.0,pm25frm,21.546011
2,2020-12-02,Arizona,Pima,43.0,pm25frm,10.432922
3,2020-12-02,Arkansas,Pulaski,42.0,pm25frm,10.235905
4,2020-12-02,California,Alameda,54.0,pm25frm,13.560171
...,...,...,...,...,...,...
95,2020-12-02,Utah,Utah,59.0,pm25frm,16.047052
96,2020-12-02,Vermont,Chittenden,29.0,o3,0.030831
97,2020-12-02,Vermont,Rutland,33.0,no2,35.310877
98,2020-12-02,Virginia,Arlington,14.0,no2,15.289989
99,2020-12-02,Wisconsin,Dodge,47.0,o3,0.051240

In [62]:
tomorrows_forecast.to_csv("tomorrows_forecast.csv", index = False)

In [63]:
merged_forecasts_df_final.to_csv("merged_and_forecasts_df_final.csv", index = False)

In [64]:
weather_data_df = pd.read_csv("weather_data-final.csv")

In [65]:
str(weather_data_df["Date"])

'0        29-11-2021\n1        30-12-2021\n2        01-12-2021\n3        02-12-2021\n4        03-12-2021\n            ...    \n10451    03-12-2021\n10452    04-12-2021\n10453    05-12-2021\n10454    06-12-2021\n10455    30-12-2021\nName: Date, Length: 10456, dtype: object'

In [66]:
weather_data_df[weather_data_df["Date"]== "30-12-2021"]

,state_code,state_name,county_code,county_name,Date,Weather
1,1,Alabama,73,Jefferson,30-12-2021,Clear
9,2,Alaska,20,Anchorage,30-12-2021,Snow
17,2,Alaska,90,Fairbanks North Star,30-12-2021,Clouds
25,4,Arizona,13,Maricopa,30-12-2021,Clouds
34,4,Arizona,19,Pima,30-12-2021,Clear
...,...,...,...,...,...,...
10424,24,Maryland,1,Allegany,30-12-2021,Rain
10432,54,West Virginia,57,Mineral,30-12-2021,Rain
10440,48,Texas,161,Freestone,30-12-2021,Clouds
10448,48,Texas,401,Rusk,30-12-2021,Clouds
10455,24,Maryland,3,Anne Arundel,30-12-2021,Rain

In [168]:
# from datetime import datetime
# todays_date = datetime.today().strftime('%d-%m-%Y')
# tomorrow_date = str(todays_date) + datetime.timedelta(days=1)
# type(tomorrow_date)

In [169]:
tomorrow_date = (today.date() + datetime.timedelta(days=1))
tomorrow_date

datetime.date(2021, 12, 2)

In [170]:
tomorrow_date = tomorrow_date.strftime('%d-%m-%Y')

In [171]:
tomorrow_date

'02-12-2021'

In [172]:
weather_data_df[weather_data_df["Date"]== tomorrow_date]

,state_code,state_name,county_code,county_name,Date,Weather
3,1,Alabama,73,Jefferson,02-12-2021,Clear
11,2,Alaska,20,Anchorage,02-12-2021,Clouds
19,2,Alaska,90,Fairbanks North Star,02-12-2021,Clouds
27,4,Arizona,13,Maricopa,02-12-2021,Clouds
36,4,Arizona,19,Pima,02-12-2021,Clear
...,...,...,...,...,...,...
10417,51,Virginia,580,Covington City,02-12-2021,Clear
10426,24,Maryland,1,Allegany,02-12-2021,Clear
10434,54,West Virginia,57,Mineral,02-12-2021,Clear
10442,48,Texas,161,Freestone,02-12-2021,Clouds
10450,48,Texas,401,Rusk,02-12-2021,Clouds